.git
.github
.idea
.claude
.run
**/target
node_modules
tools
docs
env
docker
secrets
backups
*.md
eslint.config.js
package.json
package-lock.json
.env
.env.*
.dockerignore
.gitignore
.gitattributes
compose.*.yaml
data
